.BG-Black {background: #000;}
.BG-White {background: #f8f8f8;}
.BG-Grey {background: #b6b6b6;}
.BG-UltraBlue {background: #1672e3;}
.BG-ElectricBlue {background: #3860ff;}
.BG-CobaltBlue {background: #254acf;}
.BG-Aqua {background: #8ee6ff;}
.BG-Red {background: #ff143f;}
.BG-Coral .Red {background: #ff4a4a;}
.BG-Slate {background: #5b5a62;}
.BG-Sapphire {background: #1e3360;}
.BG-LightGrey {background: #cfcfcf;}
.BG-Mocha {background: #c7bcb5;}
.BG-Gunmetal {background: #797885;}
.BG-SmokeWhite {background: #e9ecf5;}
.BG-Olive {background: #7b7762;}
.BG-Teal {background: #244c5a;}
.BG-Sand {background: #ece1c2;}
.BG-Maroon {background: #9c303c;}
.BG-Azure {background: #3151f3;}
.BG-Charcoal {background: #777777;}
.BG-Navy {background: #22294d;}
.BG-Blue {background: #0253cd;}
.BG-AlpineGreen {background: #244a3e;}
.BG-Silver {background: #d5d5d5;}
.BG-Khaki {background: #7c6e47;}
.BG-Tan {background: #c79870;}
.BG-MistGrey {background: #c1bcbe;}
.BG-Lavender {background: #cbb4d4;}
.BG-Green {background: #37534a;}
.BG-HunterGreen {background: #3c5b50;}
.BG-Rose {background: #d899a4;}
.BG-ForestGreen {background: #244c3d;}
.BG-Lilac {background: #c290a7;}
.BG-SkyBlue {background: #9dbad1;}
.BG-SageGreen {background: #959573;}
.BG-Mauve {background: #825059;}
.BG-CitrusOrange {background: #fa662a;}
.BG-Purple {background: #4a2f53;}
.BG-RedBerry {background: #78204f;}
.BG-CloudGrey {background: #e3e3e3;}
.BG-Woodland {background: #3e3a2b;}
.BG-LightOlive {background: #7f816e;}
.BG-SteelGrey {background: #4d484c;} 
.BG-DarkGrey {background: #484449;} 
.BG-Copper {background: #472e2a;} 
.BG-DuskyPurple {background: #7b5f89;} 
.BG-Yellow {background: #ffc44c;} 
.BG-Coral {background: #e54e4c;} 
.BG-LightBlue {background: #91b5df;} 
.BG-DeepRed {background: #b82535;} 
.BG-PowderBlue {background: #628cce;} 
.BG-CrimsonRed {background: #ff5454;}
.BG-ScarletRed {background: #ac273a;}
.BG-Fuschia {background: #ff6787;}
.BG-Mint {background: #a4d6cb;}
.BG-Peach {background: #ffba3b;}
.BG-OliveGreen {background: #708f44;}
